<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <a href="/">Home</a>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="search" name="search"/>
            <button type="submit">Search</button>
        </form>
        {% for user_profile in username_profile_list %}
            <p>{{user_profile.user.username}}</p>
        {% endfor %}
    </main>
	<script src="index.js"></script>
  </body>
</html>