<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>signup</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
      <div>
        {%for message in messages%}
        <h5>{{message}}</h5>
        {% endfor %}
      </div>
        <form action="" method="POST">
          {% csrf_token %}
          <input type="text" name="username" placeholder="Username">
          <input type="email" name="email" placeholder="Email">
          <input type="text" name="password" placeholder="Password">
          <input type="text" name="password2" placeholder="Confirm Password">
          <button type="submit">Sign up</button>  
        </form>
    </main>
	<script src="index.js"></script>
  </body>
</html>