<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>Upload</h1>  
        <form action="" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <input type="file" name="image_upload" placeholder="">
            <textarea id="caption" name="caption" rows="3"></textarea>
            <button><a href="/">Cancel</a></button>
            <button type="submit">Upload</button>
          </form>
        <a href="logout">Logout</a>
    </main>
	<script src="index.js"></script>
  </body>
</html>